#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.board {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.row {
  display: flex;
}

.square {
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece {
  width: 96px;
  height: 96px;
  user-select: none;
  pointer-events: none;
}

.piece.empty {
  display: none;
}

.piece.piece-K {
  background: url('./assets/blk.svg') no-repeat center;
  background-size: contain;
}

.piece.piece-Q {
  background: url('./assets/blq.svg') no-repeat center;
  background-size: contain;
}

.piece.piece-R {
  background: url('./assets/blr.svg') no-repeat center;
  background-size: contain;
}

.piece.piece-B {
  background: url('./assets/blb.svg') no-repeat center;
  background-size: contain;
}

.piece.piece-N {
  background: url('./assets/bln.svg') no-repeat center;
  background-size: contain;
}

.piece.piece-P {
  background: url('./assets/blp.svg') no-repeat center;
  background-size: contain;
}

.piece.piece-k {
  background: url('./assets/whk.svg') no-repeat center;
  background-size: contain;
}

.piece.piece-q {
  background: url('./assets/whq.svg') no-repeat center;
  background-size: contain;
}

.piece.piece-r {
  background: url('./assets/whr.svg') no-repeat center;
  background-size: contain;
}

.piece.piece-b {
  background: url('./assets/whb.svg') no-repeat center;
  background-size: contain;
}

.piece.piece-n {
  background: url('./assets/whn.svg') no-repeat center;
  background-size: contain;
}

.piece.piece-p {
  background: url('./assets/whp.svg') no-repeat center;
  background-size: contain;
}

.row:nth-child(odd) .square:nth-child(even),
.row:nth-child(even) .square:nth-child(odd) {
  background: #D0CBC6;
}

.row:nth-child(even) .square:nth-child(even),
.row:nth-child(odd) .square:nth-child(odd) {
  background: #FEF8F1;
}
