@font-face {
  src: url('./assets/AdvercaseFont-Demo-Regular.otf');
  font-family: 'Advercase';
  font-weight: 400;
  font-style: normal;
}

:root {
  --main: #FFEEE2;
  --black: #271F19;
  --black-10: rgba(39, 31, 25, .1);
  --accent: #3B7CF6;

  line-height: 1.5;

  color-scheme: light dark;
  background-color: var(--main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}